@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100%;
    position: absolute;
    /*border: 2px solid rgb(255, 255, 255);*/ /* For visibility */

}

.container video{
    width: 100%;
    height: 100%;
}

.text-box{
  position: absolute;
  top: 0;
  left: 0;  
  background: #000;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-weight: 900;
  mix-blend-mode: multiply;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    animation: scaleCircle 1s linear;
    animation-fill-mode: forwards;
  }

  @keyframes scaleCircle {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(150);
      opacity: 1;
    }
  }